body {
  margin: 0;
}

.challengeSuperContainer {
  padding-left: 5rem;
  padding-top: 5rem;
}

.inputCode_container {
  border-style: solid;
  background-color: #333;
  padding: 1rem;
}

.virtualMap {
  border-style: solid;
  background-size: cover;
}

.mapTile {
  height: 8rem;
  width: 8rem;
  text-align: center;
}

.tile {
  width: 100%;
  display: block;
}

.red {
  color: red;
}

.tileImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
